<launch>
    <arg name="namespace" default="rover"/>
    <arg name="gui" default="true" />
    <arg name="rvizconfig" default="$(find rover_description)/rviz/urdf.rviz" />

    <group ns="$(arg namespace)">
        <param name="use_gui" value="$(arg gui)" />

        <node name="joint_state_publisher" pkg="joint_state_publisher"
              type="joint_state_publisher" />

        <node name="rviz" pkg="rviz" type="rviz"
              args="-d $(arg rvizconfig)" required="true" />
    </group>
</launch>
