<launch>
    <arg name="namespace" default="rover"/>
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="cmd_timeout" default="0.5"/>

    <!-- Vehicle pose -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.1"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <include file="$(find rover_description)/launch/description.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

    <group ns="$(arg namespace)">
        <!-- Create the world. -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_name)"/>
        </include>

        <!-- Spawn the vehicle. -->
        <node name="spawn_vehicle" pkg="gazebo_ros" type="spawn_model"
              args="-urdf -param robot_description -model rover
                    -gazebo_namespace /$(arg namespace)/gazebo
                    -x $(arg x) -y $(arg y) -z $(arg z)
                    -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>
    </group>

    <!-- Load the controllers -->
    <include file="$(find rover_control)/launch/control.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>
</launch>
